/*The commented out block below was used for debugging the layout's paddings and margins*/
/** {
	border-width: 1px;
	border-style: solid;
	border-color: red;
}*/

body {
	background-color: #464646;
    /* color: #000000; */
    color: #404040;
    background-image: url("../images/background2.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
}

.container {
    margin-bottom: 24px;
}

#log-in-info, #clock {
    font-size: 14px;
    color: #ffffff;
}

#log-in-button, #register-button, #save-widget-state-button {
    background-color: lightseagreen;
}

#feedback-div {
    color: #ffffff;
}

.row {
   margin-left: 0;
   margin-right: 0;
 }

.widget-btn {
    max-height: 96px;
    max-width: 96px;
    padding: 0px;
    background-color: rgba(139,187,171,0.5);
    border-radius: 9px;
}

img.widget-image {
    max-width: 96px;
    max-height: 96px;
}

#weatherImg {
    position: relative;
    right: 4px;
    top: 2px;
}

#newsImg {
    width: 100%;
    top: 1px;
    position: relative;
}

#gifImg {
    border-radius: 9px;
}

#coinImage {
    width: 100%;
}

#tubeImage {
    width: 97%;
    margin-top: 0.7%;
    margin-left: 1%;
}

#triviaImg {
    width: 100%;
}


#movieImg {
    width: 93%;
    margin-top: 3px;
    margin-right: 2px;
}

#toDoListImg {
    width: 99%;
    margin-right: 1px;
}

#google-search-bar {
    margin: 8px;

}

table.gsc-search-box {
    position: relative;
    top: 2px;
}

.cse .gsc-control-cse, .gsc-control-cse {
    border-radius: 9px;
}

#clear-localstorage-button{
    color: #fff;
    background-color: lightseagreen;
    border-color: lightseagreen;
    border-radius: 9px;
}

#clear-database-button {
    border: 1px solid #d6202c;
    border-radius: 9px;
    background-color: #d6202c;
}

.draggable, .resize-drag {
/*    max-height: 64px;
    max-width: 64px;*/
    /*height: 64px;*/
    width: 240px;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px;
    position: absolute;

}

#dashboard {
    min-height: 640px;
    min-width: 480px;
    background-color: rgba(139,187,171,0.5);
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 7px;
}

/*input {
    text-align: center;
}*/

/* Trivia widget styling starts */
#trivia .card-body{
    padding: 5px;
}

#trivia .questions, .answers, #showAnswer, #comment, #correctAnswerComment, #nextQuiz,.allDone,.answerP{
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-size: 15px; */
    /* color: black; */
    color: #404040;
    margin-top: 12px;
    margin-bottom: 12px;
}

#trivia {
    padding: 7px;
    overflow: overlay;
}

#trivia #trivia_header{
    text-align: center;
}

#trivia #nextQuiz{
   text-align: center;
   width: 75px;
   margin-top: 10px;
   margin-bottom: 10px;
   left: 40px;
   /* font-size: 10px; */
   /* color: black; */
   color: #404040;
   background-color: white
}

#trivia #reStartGame{
    text-align: center;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
   left: 40px;
   /* font-size: 10px; */
   /* color: black; */
   color: #404040;
   background-color: white;
}

#trivia #triviaSearch {
    width: 90%;
}

/* Trivia widget styling ends  */

/* Weather widget sytling starts */
#weather {
    max-width: 240px;
    max-height: 160px;
    border-radius: 25px;
}

#weather .card-body{
    padding: 0;
}

#weather .weather-row{
    /* display: flex;
    flex-direction: row; */
    margin-top: 12px;
    margin-bottom: 12px;
}


#weather .weather-col{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 7px;
}

#weather img{
    width: 100px;
    height: 100px;
    vertical-align: top;
}

#weather p{
    margin-bottom: 0px;
}

#search {
    margin-top: 12px;
    background-color: lightgray;
}

#search-weather {
    width: 90%;
    margin-right: 10px;
}
/* Weather widget sytling ends */

#news {
    overflow: overlay;
    padding: 7px;
}

#newsStatement {
    font-weight: 600;
    margin-bottom: 12px;
}

#newsColumn {
    margin-top: 12px;
}

.readMoreBtn:hover {
    /* background-color: #c7c7c7; */
    background-color: lightblue;
}

#bitcoin {
    overflow: overlay;
    padding: 7px;
}

#bitCoinStatement {
    font-weight: 600;
    text-align: center;
    margin-top: 12px;
}

#bitcoinResults {
   margin-top: 12px;
}

#youtube {
    overflow: overlay;
    padding: 7px;
}

.YTlink:hover {
    background-color:lightblue;
}

#YTform {
    margin-top: 12px;
}

#youTubeInput {
    margin-bottom: 12px;
}

/*Google Maps styling starts */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 400px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-top: 12px;
}
/* Optional: Makes the sample page fill the window. */
/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}*/

#googleMapsImage {
    width: 99%;
    margin-right: 2px;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}
/* Google Maps styling ends */


/* Movie Widget Styling */
#movie img{
    width: 100%;
    height:  200px;
    vertical-align: top;
    margin-top: 12px;
}

#movie {
    max-width: 240px;
    max-height: 160px;
    border-radius: 25px;
}
#movie #search {
    margin-top: 12px;
    background-color: lightgray;
}

.card-header {
    font-weight: 600;
}
#movie .movie-col {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 7px;
    font-size: 14px;
}


.rating {
    font-size: 16px;
    font-weight: 600;
}
.actors {
    font-size: 16px;
    font-weight: 600;
}
#movie p{
    margin-bottom: 0px;
}

#movie .rating{
    margin-top: 5px;
}

#gif {
    text-align: center;
    width: 220px;
    padding: 10px;
    overflow: overlay;
}

#gifStatement {
    font-weight: 600;
    margin-bottom: 12px;
}

#toDoList {
    overflow: overlay;
    text-align: center;
    padding: 7px;
}

#toDoStatement {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 600;
}

#addToDoBtn {
    margin-top: 12px;
}

#toDoLog {
    text-align: left;
}

#dropdownMenuButton {
    background-color: lightseagreen;
}
/* Movie Widget Styling */