/*The commented out block below was used for debugging the layout's paddings and margins*/
/** {
	border-width: 1px;
	border-style: solid;
	border-color: red;
}*/

body {
	background-color: #464646;
    color: #000000;
    background-image: url("../images/background2.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    margin-bottom: 24px;
}

#clock {
    font-size: 14px;
    color: #ffffff;
}

#feedback-div {
    color: #ffffff;
}

.row {
   margin-left: 0;
   margin-right: 0;
 }

.widget-btn {
    max-height: 96px;
    max-width: 96px;
    padding: 0px;
    background-color: rgba(139,187,171,0.5);
    border-radius: 9px;
}

img.widget-image {
    max-width: 96px;
    max-height: 96px;
}

#weatherImg {
    position: relative;
    right: 4px;
    top: 2px;
}

#newsImg {
    width: 100%;
    top: 1px;
    position: relative;
}

#gifImg {
    border-radius: 9px;
}

#coinImage {
    width: 100%;
}

#tubeImage {
    width: 97%;
    margin-top: 0.5%;
    margin-right: 1%;
}

#triviaImg {
    width: 100%;
}

#google-search-bar {
    margin: 8px;

}

table.gsc-search-box {
    position: relative;
    top: 2px;
}

.cse .gsc-control-cse, .gsc-control-cse {
    border-radius: 9px;
}

#clear-localstorage-button{
    color: #fff;
    background-color: lightseagreen;
    border-color: lightseagreen;
    border-radius: 9px;
}

.draggable, .resize-drag {
/*    max-height: 64px;
    max-width: 64px;*/
    /*height: 64px;*/
    width: 240px;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px;
    position: absolute;

}

#dashboard {
    min-height: 640px;
    min-width: 480px;
    background-color: rgba(139,187,171,0.5);
    border-radius: 10px;
}

/*input {
    text-align: center;
}*/

/* Trivia widget styling starts*/
#trivia .card-body{
    padding: 0;
}

#trivia .questions, .answers, #showAnswer, #comment, #correctAnswerComment, #nextQuiz,.allDone,.answerP{
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-size: 15px; */
    color: black;
    margin-top: 12px;
    margin-bottom: 12px;
}

#trivia {
    padding: 7px;
    overflow: overlay;
}

#trivia #trivia_header{
    text-align: center;
}

#trivia #nextQuiz{
   text-align: center;
   width: 75px;
   margin-top: 10px;
   margin-bottom: 10px;
   left: 40px;
   /* font-size: 10px; */
   color: black;
   background-color: white
}

#trivia #reStartGame{
    text-align: center;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
   left: 40px;
   /* font-size: 10px; */
   color: black;
   background-color: white;
}

/* Trivia widget styling ends  */

/* Weather widget sytling starts */
#weather {
    max-width: 240px;
    max-height: 160px;
    border-radius: 25px;
}

#weather .card-body{
    padding: 0;
}

#weather .weather-row{
    /* display: flex;
    flex-direction: row; */
    margin-top: 12px;
    margin-bottom: 12px;
}


#weather .weather-col{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 7px;
}

#weather img{
    width: 100px;
    height: 100px;
    vertical-align: top;
}

#weather p{
    margin-bottom: 0px;
}

#search {
    margin-top: 12px;
    background-color: lightgray;
}

#search-weather {
    width: 90%;
    margin-right: 10px;
}
/* Weather widget sytling ends */

#news {
    overflow: scroll;
    padding: 7px;
}

#newsColumn {
    margin-top: 12px;
}

.readMoreBtn:hover {
    /* background-color: #c7c7c7; */
    background-color: lightblue;
}

#bitcoin {
    overflow: scroll;
    padding: 7px;
}

#bitcoinResults {
   margin-left: 30px;
   margin-top: 12px;
}

#youtube {
    overflow: scroll;
    padding: 7px;
}

.YTlink:hover {
    background-color:lightblue;
}

#YTform {
    margin-top: 12px;
}

#youTubeInput {
    margin-bottom: 12px;
}
