/*The commented out block below was used for debugging the layout's paddings and margins*/
/** {
	border-width: 1px;
	border-style: solid;
	border-color: red;
}*/

body {
	background-color: #464646;
    color: #000000;
}

.container {
    margin-bottom: 24px;
}

#clock {
    font-size: 12px;
    color: #ffffff;
}
.row {
   margin-left: 0;
   margin-right: 0;
 }

.widget-btn {
    max-height: 96px;
    max-width: 96px;
    padding: 0px;
    background-color: #464646;
}

img.widget-image {
    max-width: 96px;
    max-height: 96px;
}

#google-search-bar {
    margin: 8px;
}

.draggable, .resize-drag {
/*    max-height: 64px;
    max-width: 64px;*/
    /*height: 64px;*/
    width: 240px;
    background-color: #ffffff;
}

#dashboard {
    min-height: 640px;
    min-width: 480px;
    background-color: #a4a4a4;
}

/*input {
    text-align: center;
}*/

/* Trivia widget styling starts*/
#trivia .card-body{
    padding: 0;
}

#trivia .questions, .answers, #showAnswer, #comment, #correctAnswerComment, #nextQuiz,.allDone,.answerP{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

#trivia #trivia_header{
    text-align: center;
}

#trivia #nextQuiz{
   text-align: center;
   width: 75px;
   margin-top: 10px;
   margin-bottom: 10px;
   left: 40px;
   font-size: 10px;
   color: black;
   background-color: white
}

#trivia #reStartGame{
    text-align: center;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
   left: 40px;
   font-size: 10px;
   color: black;
   background-color: white;
}

/* Trivia widget styling ends  */

/* Weather widget sytling starts */
#weather {
    max-width: 240px;
    max-height: 160px;
}

#weather .card-body{
    padding: 0;
}

#weather .weather-row{
    display: flex;
    flex-direction: row;
}


#weather .weather-col{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

#weather img{
    width: 100px;
    height: 100px;
    vertical-align: top;
}

#weather p{
    margin-bottom: 0px;
}
/* Weather widget sytling ends */